*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    font-family: 'Noto Sans', sans-serif;
}
body{
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.bloco-central{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.escurecer{
    width: 44%;
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 35px;
}
.cronometro{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.cronometro ul li, .titulo p{
    text-shadow: 0 6px 12px rgba(255, 255, 255, 0.45);
    font-weight: 500;
}
.spinner{
    border: 8px solid #FFF;
    border-top: 8px solid #111;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 2s;
}
@keyframes spin{
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 480px){
    .escurecer{
        width: 90%;
    }
    .titulo{
        font-size: 1rem;
    }
    .cronometro{
        font-size: 1rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .escurecer{
        width: 75%;
    }
    .titulo{
        font-size: 1.3rem;
    }
    .cronometro{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px){
    .escurecer{
        width: 65%;
    }
    .titulo{
        font-size: 1.4rem;
    }
    .cronometro{
        font-size: 1.2rem;
    }
}